accelerate==0.21.0
albumentations==1.3.0
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
deepspeed==0.14.0
diffusers==0.18.0
easydict==1.13
einops==0.6.1
einops-exts==0.0.4
fastapi==0.109.2
ffmpy==0.3.2
filelock==3.13.4
fire==0.4.0
flake8==7.0.0
Flask==3.0.3
fonttools==4.49.0
frozenlist==1.4.1
fschat==0.2.26
fsspec==2023.10.0
ftfy==6.1.3
huggingface-hub==0.24.3
hydra-core==1.3.2
imageio==2.9.0
imageio-ffmpeg==0.5.1
invisible-watermark==0.2.0
numpy==1.26.4
omegaconf==2.3.0
open-clip-torch==2.24.0
openai==1.37.1
opencv-python==4.9.0.80
pandas==2.2.0
pillow==10.2.0
pytorch-lightning==1.6.0
PyYAML==6.0.1
timm==0.6.13
torch==2.2.1
torchvision==0.17.1
transformers==4.43.3
transformers-stream-generator==0.0.5
webdataset==0.2.86
xformers==0.0.25
